<ion-toolbar>
    <ion-buttons>
      <ion-button color="dark">
        <ion-icon size="large" slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<div class="card">
  <div class="header">
    <div class="avatar">
      <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Prescription02&hairColor=PastelPink&facialHairType=MoustacheMagnum&facialHairColor=Blonde&clotheType=Hoodie&clotheColor=PastelBlue&eyeType=Side&eyebrowType=UnibrowNatural&mouthType=Twinkle&skinColor=Light" alt="Ahmet Demir">
  </div>
</div>
</div>


<div class="card-body">
  <div class="user-meta ion-text-center">
    <div class="username">
      <h2 style="font-family:verdana"><b>Ahmet Demir</b></h2></div>
    <div class class="bilgiler">
    <h4 style="font-family:verdana" class="university">Ankara Üniversitesi</h4>
    <h6 style="font-family:verdana" class="majority">Bilgisayar Mühendisliği</h6></div>
    </div>
  <div class="cikis">
    <ion-button size="large" expand="block " shape="round" color="dark">
      <h3>Çıkış</h3>
    </ion-button>
  </div>
 <div class="duzenle"> <ion-button size="large" expand="block "shape="round" fill="outline" color="dark"><center><h3>Düzenle</h3></center></ion-button>
</div>
</div>